:root {
    --font-regular: "Proxima-Nova", sans-serif;
    --font-extrabold: "Proxima-Nova-Wide", sans-serif;
    --dark-gray: #464444;
    --smoky-black: #383838;
    --black: #000000;
    --white: #ffffff;
    --primary-color: #C5066B;
    --secondary-color: #0395da;
    --tertiary-color: #cc1583;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
* Component
*/
.component__name {
    color: var(--tertiary-color);
}
.component img {
    max-width: initial;
}

.component__img {
    border: 2px solid var(--dark-gray);
    overflow-x: auto;
}

.component__code {
    border: 2px solid var(--dark-gray);
}
 .component__logo--primary {
    color: var(--primary-color);
    font-family: var(--font-extrabold);
    font-weight: 900;
    font-size: 2.5rem;
 }
 .component__logo--secondary {
    color:var(--tertiary-color);
    font-family: var(--font-regular);
    font-weight: 700;
    font-size: 1.2rem;
 }

 /** 
* Typography
*/
body {
    font-family: var(--font-regular);
    line-height: 1.6;
    padding: 30px;
}
    
h1, h2, h3 {
    font-family: var(--font-regular);
    font-weight: 900;
    letter-spacing: 0.01em;
}

h1 {
    font-size: 72px;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

/**
*Page Header - Navigation & Hero
*/
.main__nav-buttons {
    display: flex;
    justify-content: flex-end;
    border: 1px solid blue;
}

.button--primary {
    display: flex;
    align-items: baseline;
    margin: 5px;
}
.fa-magnifying-glass {
    background-color: transparent !important;  
}
/**
*Action Links
*/

a {
    font-family: var(--font-regular);
    color: var(--smoky-black);
    font-weight: 700;
    text-decoration: none;
}
 a:hover {
    color: var(--dark-gray);
 }

 button {
    color: var(--white);
    font-family: var(--font-regular);
    font-weight: 500;
    font-size: 1rem;
    border: none;
    letter-spacing: 0.1em;
 }

 .button--primary {
    background-color: var(--smoky-black);
    padding: 15px 20px;
 }

 .button--secondary {
    background-color: var(--secondary-color);
    padding: 15px 25px;
 }

 .footer__socials {
    background-color: var(--black);
    display: inline-block;
    padding: 5px 10px;
    color: var(--white);
 }

 .footer__socials:hover {
    color: var(--dark-gray);
 }

/**
*Information
*/
table {
    border-spacing: 15px;
}
.information__hours, td {
    font-family: var(--font-regular);
    font-size: .8rem;
    font-weight: 800;
}


form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    width: 250px;
    }

input {
    padding: 10px;
    color: var(--dark-gray);
    opacity: 0.6;
    font-family: var(--font-regular);
    font-size: .8rem;
}

/**
*Cards
*/
.card__collections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;  
    }

.card__collection {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    padding: 30px;
}

.digital__image {
    width: 100%;
}

/**
*Footer
*/
footer {
    background-color: var(--black);
    color: var(--white);
    padding: 30px;
}

footer p {
    line-height: 1rem;
}

.footer__contact h3 {
    border-bottom: 1px solid var(--white);
    padding-bottom: 30px;
}

.footer__details {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    gap: 40px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer__subtitle {
    font-family: var(--font-extrabold);
}
.button--footer {
    background-color: var(--white);
    color: var(--smoky-black);
    padding: 15px;
}