:root {
    --font-regular: "proxima-nova", sans-serif;
    --font-extrabold: "proxima-nova-wide", sans-serif;
    --description-font: "Arial", sans-serif;
    --dark-gray: #464444;
    --smoky-black: #383838;
    --black: #000000;
    --white: #ffffff;
    --primary-color: #C5066B;
    --secondary-color: #0395da;
    --tertiary-color: #cc1583;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
* Component
*/
.component__name {
    color: var(--tertiary-color);
}
.component img {
    max-width: initial;
}

.component__img {
    border: 2px solid var(--dark-gray);
    overflow-x: auto;
}

.component__code {
    border: 2px solid var(--dark-gray);
}
 .component__logo--primary {
    color: var(--primary-color);
    font-family: var(--font-extrabold);
    font-weight: 900;
    font-size: 2.5rem;
 }
 .component__logo--secondary {
    color:var(--tertiary-color);
    font-family: var(--font-regular);
    font-weight: 700;
    font-size: 1.2rem;
 }

 /** 
* Typography
*/
body {
    font-family: var(--font-regular);
    line-height: 1.6;
    padding: 30px;
}

h1 {
    font-family: var(--font-regular);
    font-weight: 900;
    letter-spacing: .02em;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    text-align: center;
}
    
h2, h3 {
    font-family: var(--font-regular);
    font-weight: 900;
    letter-spacing: 0.01em;
}

img {
    max-width: 100%;
    display: block;
}

/**
*Page Header - Navigation & Hero
*/
.main__nav-buttons {
    display: flex;
    justify-content: flex-end;
}
.button--primary {
    display: flex;
    align-items: baseline;
    margin: 5px;
}
.fa-magnifying-glass {
    background-color: transparent !important;  
}

.navigation__logo {
    display: flex;
    justify-items: flex-start;
    height: 45px;
}
.main__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.nav__bar {
    display: flex;
    align-items: center;
    flex: 1;
}
ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    flex: 2;
}
li {
    font-size: var(--font-extrabold);
    font-weight: 900;
    padding: 5px;
}

.hero__items, .footer__affiliates {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    justify-items: center;
}

/**
*Action Links
*/

a {
    font-family: var(--font-regular);
    color: var(--smoky-black);
    font-weight: 700;
    text-decoration: none;
}
 a:hover {
    color: var(--dark-gray);
 }

 button {
    color: var(--white);
    font-family: var(--font-regular);
    font-weight: 500;
    font-size: 1rem;
    border: none;
    letter-spacing: 0.1em;
 }

 .button--primary {
    background-color: var(--smoky-black);
    padding: 15px 20px;
 }

 .button--secondary {
    background-color: var(--secondary-color);
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    margin: auto;

 }

 .footer__socials {
    background-color: var(--black);
    display: inline-block;
    padding: 5px 10px;
    color: var(--white);
 }

 .footer__socials:hover {
    color: var(--dark-gray);
 }

/**
*Information
*/
table {
    border-spacing: 15px;
}
.information__hours, td {
    font-family: var(--font-regular);
    font-size: .8rem;
    font-weight: 800;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    width: 250px;
    }

input {
    padding: 10px;
    color: var(--dark-gray);
    opacity: 0.6;
    font-family: var(--font-regular);
    font-size: .8rem;
}

.card__collections-visit {
    display: flex;
    justify-content: flex-start;
}
.card__collection-visit {
   display: flex;
  justify-content: space-between;
}
.digital__image-map {
 height: 400px;
 width: 950px;
}

/**
*Cards
*/
.featured__collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-gap: 20px;
    padding: 5px;
}

.featured__collection {
    justify-items: center;
    text-align: center;
    padding: 20px;
}

.featured__description-title {
    font-family: var(--font-regular);
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    font-size: larger;
    padding: 3px 30px 1px;
}

.featured__description-info {
    font-family: var(--font-regular);
    font-weight: 500;
    font-style: normal;
    letter-spacing: .05em;
    opacity: .6;
    font-size: smaller;
    padding: 5px 40px;
}

.card__collections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;  
    margin: 20px;
    }

.card__collection {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    grid-gap: 30px;
    padding: 10px;
}

.digital__image {
    width: 100%;
}

.card__description-title {
    font-family: var(--description-font);
    font-weight: 700;
    font-style: normal;
    line-height: 1.3em;
    font-size: larger;
}

.card__description-info {
    font-family: var(--description-font);
    font-weight: 500;
    font-style: normal;
    line-height: 1.5em;
    font-size: smaller;
}

.digital__walkthrough {
    height: 340px;
    width: 600px;
}
.card__walkthroughs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;  
    margin: 20px;
}


/**
*Footer
*/
footer {
    background-color: var(--black);
    color: var(--white);
    padding: 30px;
}

footer p {
    line-height: 1rem;
}

.footer__contact h3 {
    border-bottom: 1px solid var(--white);
    padding-bottom: 30px;
}

.footer__details {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    gap: 40px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer__subtitle {
    font-family: var(--font-extrabold);
}
.button--footer {
    background-color: var(--white);
    color: var(--smoky-black);
    padding: 15px;
}

.footer__sponsers {
    display: grid;
    grid-template-columns: 600px 1fr;
}

.footer__sponser {
    padding: 10px;
}
