:root {
    --font-regular: "Proxima-Nova", sans-serif;
    --font-extrabold: "Proxima-Nova-Wide", sans-serif;
    --dark-gray: #464444;
    --smoky-black: #383838;
    --black: #000000;
    --white: #ffffff;
    --primary-color: #C5066B;
    --secondary-color: #0395da;
    --tertiary-color: #cc1583;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/** 
* Typography
*/
body {
    font-family: var(--font-regular);
    line-height: 1.6;
    padding: 30px;
}
    
h1, h2, h3 {
    font-family: var(--font-regular);
    font-weight: 900;
    letter-spacing: 0.01em;
}

h1 {
    font-size: 72px;
}

img {
    max-width: 100%;
    display: block;
}

/**
* Component
*/
.component__name {
    color: var(--tertiary-color);
}
.component img {
    max-width: initial;
}

.component__img {
    border: 2px solid var(--dark-gray);
    overflow-x: auto;
}

.component__code {
    border: 2px solid var(--dark-gray);
}
 .component__logo--primary {
    color: var(--primary-color);
    font-family: var(--font-extrabold);
    font-weight: 900;
    font-size: 2.5rem;
 }
 .component__logo--secondary {
    color:var(--tertiary-color);
    font-family: var(--font-regular);
    font-weight: 700;
    font-size: 1.2rem;
 }
/**
*Action Links
*/

a {
    font-family: var(--font-regular);
    color: var(--smoky-black);
    font-weight: 700;
    text-decoration: none;
}
 a:hover {
    color: var(--dark-gray);
 }

 button {
    color: var(--white);
    font-family: var(--font-regular);
    font-weight: 500;
    font-size: 1rem;
    border: none;
    letter-spacing: 0.1em;
 }

 .button--primary {
    background-color: var(--smoky-black);
    padding: 15px 20px;
 }

 .button--secondary {
    background-color: var(--secondary-color);
    padding: 15px 25px;
 }

 .footer__socials {
    background-color: var(--black);
    display: inline-block;
    padding: 5px 10px;
    color: var(--white);
 }

 .footer__socials:hover {
    color: var(--dark-gray);
 }



