<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Components | MOLAA</title>
        <link rel="stylesheet" href="https://use.typekit.net/wnh3gzx.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/normalize.css">
    </head>
    <body>
        <h1>Web Components</h1>
        <h2>Typography Defaults</h2>

        <article class="component">
        <h3 class="component__name">Body</h3>
        <img 
        srcset="img/body-copy-mission-statement.png 2x"
        src="img/body-copy-mission-statement.png" alt="body copy of Mission statement">
        <div class="component__code">
        <p>The Museum of Latin American Art expands knowledge and appreciation of modern and contemporary Latin American and Latino art through its Collection, ground-breaking Exhibitions, stimulating Educational Programs, and engaging Cultural Events.</p>
        </div>
    </article>
    </body>
</html>