<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Components | MOLAA</title>
        <link rel="stylesheet" href="https://use.typekit.net/wnh3gzx.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <script src="https://kit.fontawesome.com/5e761e81ab.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Web Components</h1>
        <h2>Typography Defaults</h2>

<!--Typography-->
    <article class="component">
        <h3 class="component__name">Body</h3>
        <div class="component__img">
        <img 
        srcset="img/body-copy-mission-statement.png 2x"
        src="img/body-copy-mission-statement.png" alt="body copy of Mission statement"></div>
        <div class="component__code">
        <p>The Museum of Latin American Art expands knowledge and appreciation of modern and contemporary Latin American and Latino art through its Collection, ground-breaking Exhibitions, stimulating Educational Programs, and engaging Cultural Events.</p>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Headers (h1, h2, h3)</h3>
        <div class="component__img">
        <img 
        srcset="img/h1.png 2x"
        src="img/h1.png" alt="H1 heading">
          <img 
        srcset="img/h2.png 2x"
        src="img/h2.png" alt="H2 heading">
          <img 
        srcset="img/h3.png 2x"
        src="img/h3.png" alt="H3 heading">
        </div>
        <div class="component__code">
        <h1>UPCOMING AT MOLAA</h1>
        <h2>PLAN YOUR VISIT</h2>
        <h3>MOLAA EXHIBITION WALKTHROUGHS</h3>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Logo</h3>
        <div class="component__img">
        <img 
        srcset="img/logo.png 2x"
        src="img/logo.png" alt="logo image">
        </div>
        <div class="component__code">
            <p class="component__logo--primary">molaa</p>
            <p class="component__logo--secondary">MUSEUM OF LATIN AMERICAN ART</p>
        </div>
    </article>

<!--Page Header: Navigation, Hero-->
    <h2>Page Header</h2>
         <article class="component">
            <h3 class="component__name">Navigation Top Buttons</h3>
            <div class="component__img">
            <img 
            srcset="img/nav__buttons.png 2x"
            src="img/nav__buttons.png" alt="navigation buttons image">
            </div>

            <div class="component__code">
                <div class="main__nav-buttons"><button class="button--primary nav--button">LA TIENDA / SHOP</button>
                <button class="button--primary">BECOME A MEMBER</button>
                <button class="button--primary">DONATE</button> 
                <i class="fa-solid fa-magnifying-glass button--primary"></i></div>
            </div>    
        </article>

        <article class="component">
            <h3 class="component__name">Navigation Links</h3>
            <div class="component__img">
            <img 
            srcset="img/nav__list.png 2x"
            src="img/nav__list.png" alt="navigation buttons image">
            </div>

            <div class="component__code">
                <div class="main__nav">
                <div class="nav__bar">
                    <img src="img/logo.png" alt="logo" class="navigation__logo">
                    <ul>
                        <li>VISIT</li>
                        <li>EXHIBITIONS</li>
                        <li>COLLECTIONS</li>
                        <li>EDUCATION</li>
                        <li>EVENTS</li>
                        <li>SUPPORT</li>
                        <li>ABOUT</li>
                    </ul></div>
                </div>
            </div>    
        </article>

        <article class="component">
            <h3 class="component__name">Hero Page</h3>
            <div class="component__img">
               <img 
                srcset="img/header__page.png 2x"
                src="img/header__page.png" alt="navigation link image">
                </div>

                <div class="component__code">
                 <div class="hero__items">
                    <div class="hero__item"><img src="img/hero__banner.png" alt="Banner image"></div>
                    <div class="hero__item"><img src="img/hero__carousel.png" alt="Carousel image"></div>
                    
                    </div>
            </div>    
        </article>

<!--Action Links-->
    <h2>Action Links</h2>
        <article class="component">
        <h3 class="component__name">Links</h3>
        <div class="component__img">
        <img 
        srcset="img/navlink.png 2x"
        src="img/navlink.png" alt="navigation link image">
        </div>
        <div class="component__code">
            <a href="#!">VISIT</a>
        </div>
        </article>
        
      <article class="component">
        <h3 class="component__name">Buttons</h3>
        <div class="component__img">
        <img 
        srcset="img/button__smoky.png 2x"
        src="img/button__smoky.png" alt="Primary button image">
        <img 
        srcset="img/button__blue.png 2x"
        src="img/button__blue.png" alt="Secondary button image">
        </div>
        <div class="component__code">
           <button class="button--primary">LEARN MORE</button>
           <button class="button--secondary">VIEW ALL VIDEOS</button>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Icons</h3>
        <div class="component__img">
        <img 
        srcset="img/footer__socials.png 2x"
        src="img/footer__socials.png" alt="Footer socials icons image">
         <img 
        srcset="img/nav__icon.png 2x"
        src="img/nav__icon.png" alt="Navigation search icon image">
        </div>
        <div class="component__code">
            <div class="footer__socials"><i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="nav__icon"></div>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </article>

<!--Information-->
    <article class="component">
        <h3 class="component__name">Information</h3>
        <div class="component__img">
        <img 
        srcset="img/information__hours.png 2x"
        src="img/information__hours.png" alt="Information hours image">
        </div>
        <div class="component__code">
            <h2> PLAN YOUR VISIT</h2>
            <h3>MUSEUM HOURS</h3>
            <div class="card__collections-visit">
            <div class="card__collection-visit">
            
            <table>
            <tr>
                <td class="information__hours">MON</td>
                <td>CLOSED</td>
            </tr>
            <tr>
                <td class="information__hours">TUE</td>
                <td>CLOSED</td>
            </tr>
            <tr>
                <td class="information__hours">WED</td>
                <td>11:00 am--6:00 pm</td>
            </tr>
            <tr>
                <td class="information__hours">THU</td>
                <td>11:00 am--6:00 pm</td>
            </tr>
            <tr>
                <td class="information__hours">FRI</td>
                <td>11:00 am--6:00 pm</td>
            </tr>
            <tr>
                <td class="information__hours">SAT</td>
                <td>11:00 am--6:00 pm</td>
            </tr>
            <tr>
                <td class="information__hours">SUN</td>
                <td>11:00 am--6:00 pm</td>
            </tr>
            </table>
            <div class="card__collection">
            <img src="img/main-visit__map.png" alt="Visitor Map" class="digital__image-map card__collection-visit"> </div></div>



            </div>
        </article>

        <article class="component">
        <h3 class="component__name">Form</h3>
        <div class="component__img">
        <img 
        srcset="img/information__form.png 2x"
        src="img/information__form.png" alt="Footer form image">
        </div>
        <div class="component__code">
            <form>
                <input type="text" name="first" value="First Name">
                <input type="text" name="last" value="Last Name">
                <input type="text" name="email" value="Email Address">
            </form>
        </div>
        </article>

<!--Cards-->
<article class="component">
    <h3 class="component__name">Cards</h3>

        <div class="component__img">
        <img 
        srcset="img/featured__events.png "
        src="img/featured__events.png" alt="navigation link image">
        </div>
        <div class="component__code">
            <h1> UPCOMING AT MOLAA</h1>
            <button class="button--primary">LEARN MORE</button>
            <div class="featured__collections"> 
                <div class="featured__collection"><img src="img/featured__event1.png" alt="Featured Event">
                <p class="featured__description-title">Move, Groove, and Connect Through Dance at the Museum! - Salsa</p>
                <p class="featured__description-info">Dec 3, 2025 &bull; Museum of Latin American Art</p></div>

                <div class="featured__collection"><img src="img/featured__event2.png" alt="Featured Event">
                <p class="featured__description-title">Docent led Saturday Tour - December</p>
                <p class="featured__description-info">Dec 6, 2025 - Dec 27, 2025 &bull; Museum of Latin American Art</p></div>

                <div class="featured__collection"><img src="img/featured__event3.png" alt="Featured Event">
                <p class="featured__description-title">Corner Garden Workshop: Ink Wash on Paper</p>
                <p class="featured__description-info">Dec 7, 2025 &bull; Museum of Latin American Art</p></div>

                <div class="featured__collection"><img src="img/featured__event4.png" alt="Featured Event">
                <p class="featured__description-title">Latino Comics Expo!</p>
                <p class="featured__description-info">Dec 7, 2025 &bull; Museum of Latin American Art</p></div>
                    </div>
        </div>
    </article>


    <article class="component">
        <div class="component__img">
        <img 
        srcset="img/card__digital-collection.png 2x"
        src="img/card__digital-collection.png" alt="Digital Collection card image">
        </div>
        <div class="component__code">
            
        <h1>DIGITAL COLLECTION</h1>

           <div class="card__collections">
                <div class="card__collection">
                    <img src="img/digital-collection__card1.png" alt="digital section image" class="digital__image">
                <div class="card__details">
                    <p class="card__description-title">HERland: Women Artists in the MOLAA Collection</p>
                    <p class="card__description-info">Explore the online exhibition</p>
                    <button class="button--primary">VIEW NOW</button></div></div>

            <div class="card__collection">
                <img src="img/digital-collection__card2.png" alt="digital section image" class="digital__image">
                <div class="card__details">
                <p class="card__description-title">Arte, Mujer y Memoria: Arpilleras from Chile</p>
                <p class="card__description-info">Online Exhibition</p>
                <button class="button--primary">VIEW NOW</button></div></div>
     
            <div class="card__collection">
                <img src="img/digital-collection__card3.png" alt="digital section image" class="digital__image">
                <div class="card__details">
                <p class="card__description-title">OaxaCAlifornia</p>
                <p class="card__description-info">Online Exhibition</p>
                <button class="button--primary">VIEW NOW</button></div></div>

            <div class="card__collection">
                <img src="img/digital-collection__card4.png" alt="digital section image" class="digital__image">
                <div class="card__details">
                <p class="card__description-title">MOLAA Permanent Collection</p>
                <p class="card__description-info">Explore MOLAA's permanent collection via Google Arts and Culture</p>
                <button class="button--primary card__button">VIEW NOW</button></div></div>            
            </div>
    </div>
    </article>

    

<!--Footer-->
        <article class="component">
        <h3 class="component__name">Footer</h3>
        <div class="component__img">
        <img 
        srcset="img/footer__contact.png 2x"
        src="img/footer__contact.png" alt="Footer form image">
        </div>
        <div class="component__code">
            <footer class="footer__contact">
                <h3> THE ONLY MUSEUM IN THE UNITED STATES FULLY DEDICATED TO MODERN AND CONTEMPORARY LATIN AMERICAN AND LATINO ART.</h3>

                <div class="footer footer__details">
                   <div class="footer__info"> <p class="footer__subtitle">MUSEUM HOURS</p>
                    <p> Wed - Sun</p>
                    <p>11:00 a.m.-- 5:00 p.m.</p>
                    <p>MOLAA is closed on Mondays & Tuesdays.</p>
                    <button class="button--primary">LEARN MORE</button></div>

                    <div class="footer__info"> <p class="footer__subtitle">CONTACT</p>
                    <p>MOLAA</p>
                    <p>(562) 437-1689</p>
                    <p>info@molaa.org</p>

                    <p>628 Alamitos Avenue,</p>
                    <p>Long Beach, CA 90802</p>
                    <p>United States</p>
                    </div>

                    <div class="footer__info">
                    <h2>Newsletter</h2>
                    <p>Receive the latest information about upcoming exhibitions, educational programs, events, and more.</p>
                    <form>
                    <input type="text" name="first" value="First Name">
                    <input type="text" name="last" value="Last Name">
                    <input type="text" name="email" value="Email Address">
                    <button class="button--footer">SUBSCRIBE</button>
                    </form></div>

                    <div class="footer__info">
                    <p class="footer__subtitle">CONNECT</p>
                    <div class="footer__socials"><i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    <p class="footer__subtitle">ADDITIONAL LINKS</p>
                        <p>Press Room</p>
                        <p>Contact</p>
                    </div>
                </div>
            </footer>
        </div>
        </article>
    </body>
</html>