<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Components | MOLAA</title>
        <link rel="stylesheet" href="https://use.typekit.net/wnh3gzx.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <script src="https://kit.fontawesome.com/5e761e81ab.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Web Components</h1>
        <h2>Typography Defaults</h2>

<!--Typography-->
    <article class="component">
        <h3 class="component__name">Body</h3>
        <div class="component__img">
        <img 
        srcset="img/body-copy-mission-statement.png 2x"
        src="img/body-copy-mission-statement.png" alt="body copy of Mission statement"></div>
        <div class="component__code">
        <p>The Museum of Latin American Art expands knowledge and appreciation of modern and contemporary Latin American and Latino art through its Collection, ground-breaking Exhibitions, stimulating Educational Programs, and engaging Cultural Events.</p>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Headers (h1, h2, h3)</h3>
        <div class="component__img">
        <img 
        srcset="img/h1.png 2x"
        src="img/h1.png" alt="H1 heading">
          <img 
        srcset="img/h2.png 2x"
        src="img/h2.png" alt="H2 heading">
          <img 
        srcset="img/h3.png 2x"
        src="img/h3.png" alt="H3 heading">
        </div>
        <div class="component__code">
        <h1>UPCOMING AT MOLAA</h1>
        <h2>PLAN YOUR VISIT</h2>
        <h3>MOLAA EXHIBITION WALKTHROUGHS</h3>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Logo</h3>
        <div class="component__img">
        <img 
        srcset="img/logo.png 2x"
        src="img/logo.png" alt="logo image">
        </div>
        <div class="component__code">
            <p class="component__logo--primary">molaa</p>
            <p class="component__logo--secondary">MUSEUM OF LATIN AMERICAN ART</p>
        </div>
    </article>

<!--Action Links-->
    <h2>Action Links</h2>
        <article class="component">
        <h3 class="component__name">Links</h3>
        <div class="component__img">
        <img 
        srcset="img/navlink.png 2x"
        src="img/navlink.png" alt="navigation link image">
        </div>
        <div class="component__code">
            <a href="#!">VISIT</a>
        </div>
        </article>
        
      <article class="component">
        <h3 class="component__name">Buttons</h3>
        <div class="component__img">
        <img 
        srcset="img/button__smoky.png 2x"
        src="img/button__smoky.png" alt="Primary button image">
        <img 
        srcset="img/button__blue.png 2x"
        src="img/button__blue.png" alt="Secondary button image">
        </div>
        <div class="component__code">
           <button class="button--primary">LEARN MORE</button>
           <button class="button--secondary">VIEW ALL VIDEOS</button>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Icons</h3>
        <div class="component__img">
        <img 
        srcset="img/footer__socials.png 2x"
        src="img/footer__socials.png" alt="Footer socials icons image">
         <img 
        srcset="img/nav__icon.png 2x"
        src="img/nav__icon.png" alt="Navigation search icon image">
        </div>
        <div class="component__code">
            <div class="footer__socials"><i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="nav__icon"></div>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </article>

<!--Information-->
    <article class="component">
        <h3 class="component__name">Information</h3>
        <div class="component__img">
        <img 
        srcset="img/information__hours.png 2x"
        src="img/information__hours.png" alt="Information hours image">
        </div>
        <div class="component__code">
            <h3 class="information__hours">MUSEUM HOURS</h3>
            <table>
            <tr>
                <td class="information__hours">MON</td>
                <td>CLOSED</td>
            </tr>
            <tr>
                <td class="information__hours">TUE</td>
                <td>CLOSED</td>
            </tr>
            <tr>
                <td class="information__hours">WED</td>
                <td>11:00 am--6:00 pm</td>
            </tr>
            <tr>
                <td class="information__hours">THU</td>
                <td>11:00 am--6:00 pm</td>
            </tr>
            <tr>
                <td class="information__hours">FRI</td>
                <td>11:00 am--6:00 pm</td>
            </tr>
            <tr>
                <td class="information__hours">SAT</td>
                <td>11:00 am--6:00 pm</td>
            </tr>
            <tr>
                <td class="information__hours">SUN</td>
                <td>11:00 am--6:00 pm</td>
            </tr>
            </table>
            </div>
        </article>

        <article class="component">
        <h3 class="component__name">Form</h3>
        <div class="component__img">
        <img 
        srcset="img/information__form.png 2x"
        src="img/information__form.png" alt="Footer form image">
        </div>
        <div class="component__code">
            <form>
                <input type="text" name="first" value="First Name"></input>
                <input type="text" name="last" value="Last Name"></input>
                <input type="text" name="email" value="Email Address"></input>
            </form>
        </div>
        </article>
<!--Cards-->
        <article class="component">
        <h3 class="component__name">Cards</h3>
        <div class="component__img">
        <img 
        srcset="img/card__digital-collection.png 2x"
        src="img/card__digital-collection.png" alt="Digital Collection card image">
        </div>
        <div class="component__code">
            
            <h1>DIGITAL COLLECTION</h1>

            <div class="card__collections">
                <div class="card__collection">
                <img src="img/card__digital-img.png" alt="digital section image" class="digital__image">
                <div class="card__details">
                <h3>HERland: Women Artists in the MOLAA Collection</h3>
                <p>Explore the online exhibition</p>
                <button class="button--primary">VIEW NOW</button></div>
            </div>

                <div class="card__collection">
                <img src="img/card__digital-img.png" alt="digital section image" class="digital__image">
                <div class="card__details">
                <h3>HERland: Women Artists in the MOLAA Collection</h3>
                <p>Explore the online exhibition</p>
                <button class="button--primary">VIEW NOW</button></div>
            </div>
     
                <div class="card__collection">
                <img src="img/card__digital-img.png" alt="digital section image" class="digital__image">
                <div class="card__details">
                <h3>HERland: Women Artists in the MOLAA Collection</h3>
                <p>Explore the online exhibition</p>
                <button class="button--primary">VIEW NOW</button></div>
            </div>

                <div class="card__collection">
                <img src="img/card__digital-img.png" alt="digital section image" class="digital__image">
                <div class="card__details">
                <h3>HERland: Women Artists in the MOLAA Collection</h3>
                <p>Explore the online exhibition</p>
                <button class="button--primary">VIEW NOW</button></div>
            </div></div>
        </div>
        </article>
        
<!--Footer-->

    </body>
</html>